{% load static %}
<html>
<head>
	{% block css %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/staff_test.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	{% endblock css %}
	{% block js %}
	<script type="text/javascript" src="{% static 'js/vue.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/axios.min.js' %}"></script>
	<script src="https://cdn.tailwindcss.com"></script>
	{% endblock js %}
</head>

<body>
	{% block content %}
	{% endblock content %}

</body>
</html>